// Place all the styles related to the cron/address_book_corp_parser controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
