

<div class="box">

  <div class="box-header">
    <h3 class="box-title">Autoprovision</h3><button class="pull-right ">Autoprovision</button>
  </div>


  <div class="box-body">

    <table class="table table-bordered table-condensed tablesorter" id="tbl_adresses">
      <thead>

      <tr>
        <th data-placeholder="" class="filter-match col-md-1">MAC</th>
        <th data-placeholder="" class="filter-match col-md-1">Тип</th>
        <th data-placeholder="" class="filter-match col-md-1">Аккаунт №</th>
        <th data-placeholder="" class="filter-match col-md-1">Номер внутренний</th>
        <th data-placeholder="" class="filter-match col-md-5">ФИО</th>

      </tr>

      </thead>
      <tbody>

      </tbody>
    </table>

  </div>

</div>
