// Place all the styles related to the address_book controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination-my {
  border-radius: 4px;
  display: inline-block;
  margin: 0px 0  !important;
  padding-left: 0;
}

.tablesorter .tablesorter-filter-row td:nth-child(1) .tablesorter-filter {
  width: 290px;
}

.tablesorter .tablesorter-filter-row td:nth-child(2) .tablesorter-filter {
  width: 290px;
}


.tablesorter .tablesorter-filter-row td:nth-child(5) .tablesorter-filter {
  width: 135px;
  visibility: hidden;
}