// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import 'bootstrap';


@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('/assets/bootstrap/glyphicons-halflings-regular.eot');
  src: url('/assets/bootstrap/glyphicons-halflings-regular.eot?#iefix') format("embedded-opentype"), url('/assets/bootstrap/glyphicons-halflings-regular.woff') format("woff"), url('/assets/bootstrap/glyphicons-halflings-regular.ttf') format("truetype"), url('/assets/bootstrap/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format("svg");
}

.icon-my {

  padding-bottom: 25px !important;
}

.glyphicon {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  font-size: 1.5em;

}

.bs-glyphicons .glyphicon {
  margin-top: 5px;
  margin-bottom: 10px;
  font-size: 24px;
}