<%= javascript_include_tag "main" %>
<%= javascript_include_tag "stat/call_direction" %>



<div class="col-md-6">
<div class="box box-success">
  <div class="box-header">
    <h3 class="box-title">На прочие сотовые (количество)</h3>
  </div>
  <div class="box-body chart-responsive">
    <div class="canvas-holder">
      <canvas id="cell_k" name="cell_k" width="600" height="200" style="width: 600px; height: 200px;"></canvas>
    </div>
  </div><!-- /.box-body -->
</div>
</div>

